@using GiftContributions.Data
@model ContributionsViewModel

<head>
    <meta charset="utf-8" />

</head>
<body>
    <header>
    </header>
    <main b-2ya7vgwtda class="container">
        <main b-2ya7vgwtda role="main" class="pb-3" style="margin-top: 60px;">

            <div class="header">
                <h1>
                    Contributors
                </h1>
            </div>
            <div class="table-responsive">
                <form method="POST" action="/home/addContributions">
                    <input type="hidden" name="simchaId" value="@Model.SimchaId" />
                    <table class="table table-bordered table-striped">
                       <thead>
                           <tr>
                            <th>Contribute</th>
                            <th>Name</th>
                            <th>Balance</th>
                            <th>Always Include</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for(int i = 0; i < Model.Contributors.Count; i++)
                            {
                                var c = Model.Contributors[i];
                                <input type="hidden" name="ci[@i].contributorId" value="@c.ContributorId" />
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-center">
                                                <div class="form-check form-switch">
                                                    <input style="width: 4rem; height: 2rem;" name="ci[@i].Include" class="form-check-input" type="checkbox" checked value="true">
                                                </div>
                                            </div>
                                        </td>
                                        <td>@c.ContributorFirstName @c.ContributorLastName</td>
                                        <td></td>
                                        <td style="text-align: center;">
                                            <i style="font-size:30px" class="bi bi-check"></i>
                                        </td>
                                        <td>
                                            <input type="text" name="ci[@i].amount" class="form-control" placeholder="Enter Amount" />
                                        </td>
                                    </tr>
                            }
                        </tbody>
                    </table>
                    <div style="text-align:center;">
                        <button class="btn-lg btn-danger">Update</button>
                    </div>
                </form>
            </div>
        </main>
    </main>
</body>